<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/template/header :: site_header}"></head>
<body class="g-sidenav-show  bg-gray-200">
<aside th:replace="~{/template/side-navbar :: side_navbar}"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <nav th:replace="~{/template/navbar :: navbar}"></nav>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex">
              <h6 class="text-white text-capitalize ps-3 mb-0 mt-1">Cadastrar Usuário</h6>
            </div>
          </div>
          <div class="card-body px-4 pb-2">
            <form th:action="@{/dashboard/users/create}" method="post" th:object="${userCreate}">
              <div class="alert alert-danger alert-dismissible text-white" role="alert" th:each="e : ${#fields.allErrors()}">
                <span class="text-sm" th:text="${e}"></span>
                <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="row">
                <div class="col">
                  <div class="input-group input-group-outline">
                    <label class="form-label">Nome</label>
                    <input type="text" name="name" id="name" class="form-control" field="*{name}">
                  </div>
                </div>
                <div class="col">
                  <div class="input-group input-group-outline">
                    <label class="form-label">Nome de usuário</label>
                    <input type="text" name="username" id="username" class="form-control" field="*{username}">
                  </div>
                </div>
                <div class="col">
                  <div class="input-group input-group-outline">
                    <label class="form-label">Senha</label>
                    <input type="text" name="password" id="password" class="form-control" field="*{password}">
                  </div>
                </div>
                <div class="col">
                  <div class="input-group input-group-outline">
                    <select name="roleId" id="roleId" class="form-control">
                      <option value="">Perfil</option>
                      <option
                              th:each="role : ${roleToCreate}"
                              th:text="${role.getDescription()}"
                              th:value="${role.getId()}"
                      ></option>
                    </select>
                  </div>
                </div>
              </div>
              <button class="btn bg-gradient-success my-4" type="submit">Cadastrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div th:replace="~{/template/scripts :: footer_scripts}"></div>
</body>
</html>