<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/template/header :: site_header}"></head>
    <body class="g-sidenav-show  bg-gray-200">
        <aside th:replace="~{/template/side-navbar :: side_navbar}"></aside>
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <nav th:replace="~{/template/navbar :: navbar}"></nav>
        </main>
        <div th:replace="~{/template/scripts :: footer_scripts}"></div>
    </body>
</html>