<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/template/header :: site_header}"></head>
<body class="g-sidenav-show  bg-gray-200">
<aside th:replace="~{/template/side-navbar :: side_navbar}"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <nav th:replace="~{/template/navbar :: navbar}"></nav>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex">
              <h6 class="text-white text-capitalize ps-3 mb-0 mt-1">Produtos</h6>
              <div class="justify-content-end ms-md-auto pe-4">
                <a th:href="@{/dashboard/products/create}">
                  <button class="btn bg-gradient-success mb-0 toast-btn" type="button">Cadastrar</button>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Preço</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Categoria</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="product : ${products}">
                    <td class="ps-4">
                      <p class="text-xs font-weight-bold" th:text="${product.getId()}"></p>
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-secondary text-xs font-weight-bold" th:text="${product.getName()}"></p>
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-secondary text-xs font-weight-bold" th:text="'R$ ' + ${product.getPrice()}"></p>
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-secondary text-xs font-weight-bold" th:text="${product.getCategory()}"></p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm" th:classappend="${product.getActive()} ? 'bg-gradient-success' : 'bg-gradient-secondary'" th:text="${product.getActive()} ? 'Ativo' : 'Inativo'"></span>
                    </td>
                    <td class="align-middle text-center w-20">
                      <a th:href="@{/dashboard/products/edit/{id}(id=${product.getId()})}">
                        <button class="btn bg-gradient-info mb-0 toast-btn" type="button">Editar</button>
                      </a>
                      <button class="btn bg-gradient-success mb-0 toast-btn" type="button" th:if="${!product.getActive()}" th:data-target="'activeOrInactiveProduct' + ${product.getId()}">Ativar</button>
                      <button class="btn bg-gradient-warning mb-0 toast-btn" type="button" th:if="${product.getActive()}" th:data-target="'activeOrInactiveProduct' + ${product.getId()}">Inativar</button>
                      <button class="btn bg-gradient-danger mb-0 toast-btn" type="button" th:data-target="'excludeProduct' + ${product.getId()}">Deletar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div th:replace="~{/template/scripts :: footer_scripts}"></div>
</body>
</html>