<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/header :: site_header}"></head>
<body class="g-sidenav-show  bg-gray-200">
<aside th:replace="~{template/side-navbar :: side_navbar}"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <nav th:replace="~{template/navbar :: navbar}"></nav>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex">
              <h6 class="text-white text-capitalize ps-3 mb-0 mt-1">Produtos</h6>
              <div class="justify-content-end ms-md-auto pe-4">
                <a th:href="@{/dashboard/products/create}">
                  <button class="btn bg-gradient-success mb-0 toast-btn" type="button">Cadastrar</button>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Preço</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Categoria</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="product : ${products}">
                    <td class="ps-4">
                      <p class="text-xs font-weight-bold" th:text="${product.getId()}"></p>
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-secondary text-xs font-weight-bold" th:text="${product.getName()}"></p>
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-secondary text-xs font-weight-bold" th:text="'R$ ' + ${product.getPrice()}"></p>
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-secondary text-xs font-weight-bold" th:text="${product.getCategory()}"></p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="badge badge-sm" th:classappend="${product.getActive()} ? 'bg-gradient-success' : 'bg-gradient-secondary'" th:text="${product.getActive()} ? 'Ativo' : 'Inativo'"></span>
                    </td>
                    <td class="align-middle text-center w-20">
                      <a th:href="@{/dashboard/products/edit/{id}(id=${product.getId()})}">
                        <button class="btn bg-gradient-info mb-0 toast-btn" type="button">Editar</button>
                      </a>
                      <button class="btn bg-gradient-success mb-0 toast-btn" type="button" th:if="${!product.getActive()}" th:data-target="'activeOrInactiveProduct' + ${product.getId()}">Ativar</button>
                      <button class="btn bg-gradient-warning mb-0 toast-btn" type="button" th:if="${product.getActive()}" th:data-target="'activeOrInactiveProduct' + ${product.getId()}">Inativar</button>
                      <button class="btn bg-gradient-danger mb-0 toast-btn" type="button" th:data-target="'excludeProduct' + ${product.getId()}">Deletar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="position-fixed top-1 end-1 z-index-2">
  <!-- Inicio da area de alertas de criacao de produto -->
  <div th:if="${param.productSuccessCreate != null}">
    <div th:if="${param.productSuccessCreate[0] == 'true'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="createProductSuccess" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-success me-2">campaign</i>
          <span class="me-auto text-gradient text-success font-weight-bold">Criação de produto!</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Produto criado com sucesso.
        </div>
      </div>
    </div>
  </div>
  <div th:if="${param.createProductError != null}">
    <div th:if="${param.createProductError[0] == 'category-not-found'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="createProductErrorCategory" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-danger me-2">campaign</i>
          <span class="me-auto text-gradient text-danger font-weight-bold">Criação de produto!</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Categoria não encontrada!
        </div>
      </div>
    </div>
  </div>
  <div th:if="${param.createProductError != null}">
    <div th:if="${param.createProductError[0] == 'unknown-error'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="createProductErrorUnknown" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-danger me-2">campaign</i>
          <span class="me-auto text-gradient text-danger font-weight-bold">Criação de produto!</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Erro desconhecido ao criar o produto!
        </div>
      </div>
    </div>
  </div>
  <!-- Fim da area de alertas de criacao de produto -->
  <!-- Inicio da area de alertas de deleção da produto -->
  <div th:if="${param.productDeleteSuccess != null}">
    <div th:if="${param.productDeleteSuccess[0] == 'true'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="deleteProductSuccess" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-success me-2">campaign</i>
          <span class="me-auto text-gradient text-success font-weight-bold">Deleção de produto!</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Produto deletado com sucesso.
        </div>
      </div>
    </div>
  </div>
  <div th:if="${param.productDeleteError != null}">
    <div th:if="${param.productDeleteError[0] == 'not-found'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="deleteProductNotFoundError" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-danger me-2">campaign</i>
          <span class="me-auto text-gradient text-danger font-weight-bold">Deleção de produto!</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Produto não encontrado.
        </div>
      </div>
    </div>
  </div>
  <div th:if="${param.productDeleteError != null}">
    <div th:if="${param.productDeleteError[0] == 'unknown-error'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="deleteProductUnknownError" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-danger me-2">campaign</i>
          <span class="me-auto text-gradient text-danger font-weight-bold">Deleção de produto!</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Houve um erro desconhecido ao tentar deletar o produto.
        </div>
      </div>
    </div>
  </div>
  <!-- Fim da area de alertas de deleção da produto -->
  <!-- Inicio da area de alertas de alteração de status do produto -->
  <div th:if="${param.changeStatusProductSuccess != null}">
    <div th:if="${param.changeStatusProductSuccess[0] == 'true'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="changeStatusProductSuccess" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-success me-2">campaign</i>
          <span class="me-auto text-gradient text-success font-weight-bold">Sucesso ao alterar o status do produto!</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Status do produto alterado com sucesso.
        </div>
      </div>
    </div>
  </div>
  <div th:if="${param.changeStatusProductError != null}">
    <div th:if="${param.changeStatusProductError[0] == 'not-found'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="notFoundProductError" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-danger me-2">campaign</i>
          <span class="me-auto text-gradient text-danger font-weight-bold">Erro ao alterar o status do produto</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Produto não encontrado.
        </div>
      </div>
    </div>
  </div>
  <div th:if="${param.changeStatusProductError != null}">
    <div th:if="${param.changeStatusProductError[0] == 'unknown-error'}">
      <div class="toast fade show p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="productUnknownError" aria-atomic="true">
        <div class="toast-header border-0">
          <i class="material-icons text-danger me-2">campaign</i>
          <span class="me-auto text-gradient text-danger font-weight-bold">Erro ao alterar o status do produto</span>
          <small class="text-body"></small>
          <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
          Houve um erro desconhecido ao alterar o status do produto.
        </div>
      </div>
    </div>
  </div>
  <!-- Fim da area de alertas de alteração de status do produto -->
  <div th:each="product : ${products}">
    <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" th:id="'excludeProduct' + ${product.getId()}" aria-atomic="true">
      <div class="toast-header border-0">
        <i class="material-icons text-danger me-2">campaign</i>
        <span class="me-auto text-gradient text-danger font-weight-bold">Deletar Produto</span>
        <small class="text-body"></small>
        <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
      </div>
      <hr class="horizontal dark m-0">
      <div class="toast-body">
        Deseja deletar o produto <span th:text="${product.getName()}"></span>?
        <br>
        <a th:href="@{/dashboard/products/delete/{id}(id=${product.getId()})}">
          <button class="btn bg-gradient-danger mb-0 toast-btn" type="button">Sim</button>
        </a>
        <button class="btn bg-gradient-warning mb-0 toast-btn" type="button" data-bs-dismiss="toast">Não</button>
      </div>
    </div>
    <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" th:id="'activeOrInactiveProduct' + ${product.getId()}" aria-atomic="true">
      <div class="toast-header border-0">
        <i class="material-icons text-warning me-2">campaign</i>
        <span class="me-auto text-gradient text-warning font-weight-bold" th:text="${product.getActive() ? 'Inativar Produto' : 'Ativar Produto'}"></span>
        <small class="text-body"></small>
        <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
      </div>
      <hr class="horizontal dark m-0">
      <div class="toast-body">
        Deseja <span th:text="${product.getActive() ? 'Inativar' : 'Ativar'}"></span> o produto <span th:text="${product.getName()}"></span>?
        <br>
        <a th:href="@{/dashboard/products/change-status/{id}(id=${product.getId()})}">
          <button class="btn bg-gradient-danger mb-0 toast-btn" type="button">Sim</button>
        </a>
        <button class="btn bg-gradient-warning mb-0 toast-btn" type="button" data-bs-dismiss="toast">Não</button>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{template/scripts :: footer_scripts}"></div>
</body>
</html>