<div th:fragment="footer_scripts">
  <!--   Core JS Files   -->
  <script th:src="@{/static/js/core/popper.min.js}"></script>
  <script th:src="@{/static/js/core/bootstrap.min.js}"></script>
  <script th:src="@{/static/js/plugins/perfect-scrollbar.min.js}"></script>
  <script th:src="@{/static/js/plugins/smooth-scrollbar.min.js}"></script>
  <script th:src="@{/static/js/material-dashboard.min.js}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
</div>